:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}


.heading {
    margin: auto;
    max-width: 500px;
}



.button {
    font-size: 1.8rem;
    border: 0.1rem solid #56a5eb;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}